@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.spinner-icon {
    animation: icon-spin 1s linear infinite;
}

@keyframes icon-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ck-editor__editable.ck-read-only,
.ck-editor__editable.ck-read-only+.ck.ck-sticky-panel__content {
    border: none !important;
    outline: none !important;
}